<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Prediksi Tanaman</title>
</head>
<body>
    <div class="container">
        <h1>Prediksi Produksi Tanaman</h1>
        <form action="/" method="post">
            <label for="crop">Pilih Jenis Tanaman:</label>
            <select name="crop_type" id="crop" required>
                <option value="padi">Padi</option>
                <option value="jagung">Jagung</option>
                <option value="kedelai">Kedelai</option>
                <option value="kacang tanah">Kacang Tanah</option>
                <option value="kacang hijau">Kacang Hijau</option>
                <option value="ubi kayu">Ubi Kayu</option>
                <option value="ubi jalar">Ubi Jalar</option>
            </select>
            <button type="submit">Prediksi</button>
        </form>
    </div>
</body>
</html>

